body {
    background-color: #efefef;
}

h1 {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}

a {
    color: #333;
}

.intro {
    width: 50%;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}
